
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(243, 245, 211);
    text-align: center;
    overflow-y: auto;
    font-family: 'Courier New', Courier, monospace
}


.container {
    width: 60%;
    text-align: justify;
    padding: 20px;
}

.h1.title-black {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: black;
}

.h2.gray.italic {
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
    color: gray;
}

.text-block, .text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 100%;
    margin-bottom: 15px;
}

.line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left {
    text-align: left;
    width: 50%;
}

.right {
    text-align: right;
    width: 50%;
}


.black {
    color: black;
    font-size: 1.2em;
}

.dark-grey {
    color: darkgray;
    font-size: 1.1em;
}

.light-grey {
    color: lightgray;
    font-size: 1em;
}

.grey {
    color: gray;
}

/* Zhuyin RUBY*/
.ruby {
    ruby-position: inter-character;
}

.ruby rt {
    font-size: 0.8em;
    color: gray;
}
.chinese, ruby rb {
    color: lightgray;
}

