.container-one{
    position: absolute;
    background: red;
    width: 100%;
    height: 100%;
    padding: 2%;
  }
  
  .container-two{
    position: absolute;
    background: orange;
    width: 50%;
    height: 50%;
    padding: 2%;
  }
  
  .container-three{
    position: absolute;
    background: yellow;
    width: 25%;
    height: 25%;
    padding: 2%;
  }
  
  .container-four{
    position: absolute;
    background: green;
    width: 12.5%;
    height: 12.5%;
    padding: 2%;
  }